// Screens
$mobile: 480px;
$tablet: 768px;
$small-desktop: 1140px;
$desktop: 1440px;

// Colors

// Primary

$orange: #e9ab53;
$red: #f15e50;

// Neutral

$white: hsl(36, 100%, 99%);
$Gray: hsl(233, 8%, 79%);
$Darkgray: hsl(236, 13%, 42%);
$darkblue: hsl(240, 100%, 5%);

// Fonts

$inter: "Inter", sans-serif;
