@use '../base/variables' as v;
@use '../base/mixins' as m;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 4rem 0;
    @include m.mobile{
        margin-bottom: 0;
    }
}

.logo {

}

.navegacion {
    .navegacion__boton{
        cursor: pointer;
        @include m.mobile{
            display: none;
        }
    }
    .navegacion__enlaces {
        display: none;
        @include m.mobile{
            display: flex;
            gap: 5rem;
        }
        a{            
            color: v.$Darkgray;
            font-size: 2rem;       
            &:hover{
                color:v.$orange;
            }
        }
    }
}

