@use '../base/variables' as v;
@use '../base/mixins' as m;

main {
    display: flex;
    flex-direction: column;
    @include m.mobile{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 2rem;
       
    }
    margin-bottom: 2rem;
}

.articulo__imagen {
    height: auto;
    img {
        display: block;
    }
    grid-column: 1/3;
}

.articulo__titulo {
    font-weight: 800;
    font-size: 4rem;
    margin-top: 2rem;
    grid-row: 2/4;
    @include m.mobile{
        font-size: 6rem;
        line-height: 1;
    }
}
.articulo__boton {
    grid-column: 2/3;
    margin-top: 2rem;
    display: flex;
    align-items: end;
    @include m.mobile{
            margin-bottom: 0;
    }
      a {
        background-color: v.$red;
        color: v.$white;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        font-weight: 700;
        letter-spacing: 0.4rem;
        &:hover {
            cursor: pointer;
            background-color: v.$darkblue;
        }
    }
   
}